point_cloud_topic: "/corrected_current_pcd"
imu_topic: "/livox/imu"
global_path_topic: "/move_base/RegularGlobalPlanner/global_plan"
global_waypoint_path_topic: "/move_base/RegularGlobalPlanner/global_waypoint_plan"
local_path_topic: "/move_base/TebLocalPlannerROS/local_plan"
velocity_cmd_topic: "/cmd_vel"

story_trajectories:
  - E3_121: "/home/vipbot/ros_ws/navigation_ws/src/gbx_navigation/navigation_config/real_v1_config/trajectory/E3_121.csv"
  - E3_121_long: "/home/vipbot/ros_ws/navigation_ws/src/gbx_navigation/navigation_config/real_v1_config/trajectory/E3_121_long.csv"
  - 2F_sl_go: "/home/vipbot/ros_ws/navigation_ws/src/gbx_navigation/navigation_config/real_v1_config/trajectory/2F_sl_go.csv"
  - 2F_sl_back: "/home/vipbot/ros_ws/navigation_ws/src/gbx_navigation/navigation_config/real_v1_config/trajectory/2F_sl_back.csv"

delivery_point:
  - "1": [0.0, 0.0, 0.0]
  - "2": [-16.0, 75.7, 0.0]
  - "3": [-7.50, -103.4, 0.0]
  - "4": [-59.5, -50.4, 0.0]
  - "5": [-143.9, -59.2, 0.0]
  - "6": [-125.0, -0.65, 0.0]
  - "7": [-44.9, 85.3, 0.0]

#cloud_filter:
#  min_z: -0.1
#  max_z: 0.1
#  max_radius: 3.0
#  leaf_size: 0.1
#
#local_costmap:
#  footprint: [[0.3,0.25], [0.3,-0.25], [-0.3, -0.25], [-0.3, 0.25]]
#
#  global_frame: map
#  robot_base_frame: base_link
#
#  static:
#    map_topic: /move_base/local_costmap/costmap
#    subscribe_to_updates: true
#
#  #layer definitions
#  obstacles_livox:
#    track_unknown_space: true
#    observation_sources: point_cloud
#    point_cloud: {
#      data_type: PointCloud2,
#      clearing: true,
#      marking: true,
#      topic: /corrected_current_pcd,
#      inf_is_valid: true,
#      min_obstacle_height: 0.0,
#      max_obstacle_height: 1.0,
#      obstacle_range: 200.0,
#      raytrace_range: 200.0
#    }
#    static_map: false
#    rolling_window: true
#
#  update_frequency: 30.0
#  publish_frequency: 20.0
#  transform_tolerance: 0.05
#  track_unknown_space: true
#  width: 3
#  height: 3
#  resolution: 0.05
#  static_map: false
#  rolling_window: true
#
#  inflation:
#    cost_scaling_factor: 5.0
#    inflation_radius: 0.5
#
#  plugins:
#    - { name: static,              type: "costmap_2d::StaticLayer" }
#    - { name: inflation,                 type: "costmap_2d::InflationLayer" }
  #    - { name: obstacles_livox,           type: "costmap_2d::ObstacleLayer" }
